#view {
    -fx-background-color: #1d3557; /*Blue lighter*/
    -fx-text-fill: white;
}

Label{
	-fx-text-fill: white;
  	-fx-font-weight: bold;
}

ImageView{
    -fx-background-radius: 100;
    -fx-background-repeat: no-repeat;
    -fx-background-size: contain;
}

#paneTitle {
    -fx-background-color: #27436b;
    -fx-background-radius: 15;
}

#configPane{
    -fx-background-color: #27436b;
}