@import "viewOptionsClear.css";
@import "boardClear.css";
#view{
	-fx-background-image: url("../image/virusbackground.jpg");
	-fx-background-color: #162340; /*Blue dark*/
}
#menuPrimary {
	-fx-background-color:#20bfd8;
	-fx-background-radius:10px;
}

#menuPrimary > Button {
	-fx-background-color: #20dad8; /* other Blue */
	-fx-text-fill: #212329;
	-fx-background-radius: 15;
}