@import "viewOptionsDark.css";
@import "boardDark.css";

#view{
	-fx-background-image: url("../image/virusbackground.jpg");
	-fx-background-color: #162340; /*Blue dark*/
}

#menuPrimary {
	-fx-background-color: #033e5f; /*Blue light-dark*/
	-fx-background-radius:10px;
}

#menuPrimary > Button {
	-fx-background-color:#14628c; /* other Blue */
	-fx-background-radius: 15;
}



