#view{
	/*-fx-background-image: url("/image/backgroundroot.jpg");
	-fx-background-repeat:no-repeat;
	-fx-background-size:contain;
	-fx-background-position:center;*/

	-fx-background-color: #1d3557; 
}

#menuPrimary{
	-fx-background-color: #27436b;
	-fx-background-radius:10px;
}

#menuPrimary > Button {
	-fx-background-color: #00a8a8; /* other Blue */
	-fx-background-radius: 15;
}

#viewrule{
	-fx-background-image: url("/image/virusrules.png");
	-fx-background-repeat:no-repeat;
	-fx-background-size:contain;
	-fx-background-position:center;
	-fx-opacity:90%;

	/*-fx-background-color: #1d3557; */ 
}

#vboxrule{
	-fx-opacity:92%;
}

